{:paths   ["src/clj" "src/cljc" "src/cljr"]
 :deps    {
           ;io.github.clojure/clr.tools.namespace       {:git/tag "v1.5.2" :git/sha "d540923"}
           ;; TODO [BAC]: Use clojure tools once fork has been merged
           io.github.brandoncorrea/clr.tools.namespace {:git/sha "bd4c6403059c221f477654b16927a507d0646120"}
           }
 :aliases {:test {:extra-paths ["spec/clj" "spec/cljc" "spec/cljr"]}
           :spec {:main-opts ["-m" "speclj.main" "-c" "spec/clj" "spec/cljc" "spec/cljr"]}}}
