{
 :paths   ["src"]
 :deps    {
           mmargs/mmargs        {:mvn/version "1.2.0"}
           org.clojure/clojure  {:mvn/version "1.11.3"}
           trptcolin/versioneer {:mvn/version "0.1.1"}
           org.clojure/tools.namespace {:mvn/version "1.5.0"}
           clj-commons/pomegranate {:mvn/version "1.2.24"}
           leiningen-core/leiningen-core {:mvn/version "2.9.6"}
           }
 :aliases {
           :test  {:extra-deps  {
                                 io.github.clojure/tools.build {:mvn/version "0.9.5"}
                                 org.clojure/clojurescript     {:mvn/version "1.11.132"}
                                 cloverage/cloverage           {:mvn/version "1.2.4"}
                                 }
                   :extra-paths ["dev" "spec" "target/classes"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs  {:main-opts ["-m" "speclj.dev.cljs"]}
           :build {:extra-deps  {io.github.clojure/tools.build {:mvn/version "0.9.5"}
                                 clj-commons/pomegranate       {:mvn/version "1.2.23"}}
                   :ns-default  build
                   :extra-paths ["dev"]}
           :cov   {:main-opts ["-m" "cloverage.coverage" "--runner" ":speclj" "-p" "src" "-s" "spec" "-e" "leiningen.spec" "--foo" "bar"]}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
                   :exec-fn    codox.main/generate-docs
                   :exec-args  {:source-paths ["src"]
                                :output-path  "doc"
                                :source-uri   "https://github.com/slagyr/speclj/blob/master/{filepath}#L{line}"}
                   }
           }
 }
